@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-slate-50 text-slate-900 overflow-x-hidden;
    }
}

.heading-xl {
    @apply text-6xl md:text-8xl font-black tracking-tighter uppercase leading-[0.85];
}

.blog-card {
    @apply bg-white border-2 border-slate-900 shadow-brutalist hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all p-8;
}